body                  
{

    
    background: rgb(173, 239, 216);
    
    opacity: 2.0;
    background-size: 100vw 100vh;
    background-attachment: unset;
    font-size: 16px;
   
}



